---
layout: default
permalink: /schedule/
---

<div class="container">

    <div class="row table-responsive">

        <h5 class="col-12 size-1 text-center text-white my-5">
            Event Schedule
        </h5>

        <table class="table table-sm">

            <thead>
                <tr>
                <th scope="col">Group #</th>
                <th scope="col">Schools (# students)</th>
                <th scope="col">Locations (click for map)</th>
                <th scope="col">Chaperones</th>
                </tr>
            </thead>

            <tbody>

                {% for schedule in site.data.schedule %}
                <tr>

                <th scope="row">
                    {{schedule.group}}
                </th>

                <td>
                    <ul class="list-unstyled border-right">
                        {% for school in schedule.schools %}
                            {% if school != schedule.schools.last %}
                                <li class="border-bottom mb-2 pb-2">{{school}}</li>
                            {% else %}
                                <li>{{school}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>

                <td>
                    <ul class="list-unstyled border-right">
                        {% for location in schedule.locations %}
                            {% if location != schedule.locations.last %}
                            <li class="border-bottom mb-2 pb-2">{{location}}</li>
                            {% else %}
                                <li>{{location}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>

                <td>
                    <ul class="list-unstyled">
                        {% for chap in schedule.chaperones %}
                            {% if chap != schedule.chaperones.last %}
                                <li class="border-bottom pb-2 mb-2">{{chap}}</li>
                            {% else %}
                                <li>{{chap}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>

                </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>

    <div class="row mt-5">
        <p class="text-center mx-auto font-alt text-muted">
            Site built by <a href="https://austincodingacademy.com">Austin Coding Academy</a>
        </p>
    </div>

</div>