<div class="container border-bottom mb-5">
    <div class="row d-flex justify-content-center align-items-center">

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <amp-img
                alt="Aceable Logo"
                src="/assets/img/logo/ace-color-logo.png"
                width="762px"
                height="160px"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <a href="https://www.austincodingacademy.com">
                <amp-img
                    alt="Austin Coding Academy Logo"
                    src="/assets/img/logo/aca.png"
                    width="200px"
                    height="200px"
                    class="mw-100 mh-100 m-auto"
                    layout="intrinsic"
                >
                </amp-img>
            </a>
        </div>

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <amp-img
                alt="Capital Factory Logo"
                src="/assets/img/logo/cf.png"
                width="2208px"
                height="2104px"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <amp-img
                alt="Chipper Logo"
                src="/assets/img/logo/chipper-logo-white.png"
                width="208px"
                height="52px"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <amp-img
                alt="Edlio Logo"
                src="https://edlio.com/pics/edlio_full.svg"
                width="186px"
                height="37px"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <amp-img
                alt="Galvanize Logo"
                src="https://s3-us-west-2.amazonaws.com/galvanize.com-dev/galvanize-logo.svg"
                width="200px"
                height="200px"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <amp-img
                alt="Google Logo"
                src="/assets/img/logo/google.png"
                width="200px"
                height="200px"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <amp-img
                alt="Modernize Logo"
                src="/assets/img/logo/modernize-black.png"
                width="220px"
                height="50px"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <amp-img
                alt="RetailMeNot Logo"
                src="/assets/img/logo/retailmenot.svg"
                width="1366px"
                height="576px"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <amp-img
                alt="Techstars Logo"
                src="/assets/img/logo/techstars.png"
                width="400px"
                height="70px"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <amp-img
                alt="TrendKite Logo"
                src="https://www.trendkite.com/hubfs/Trendkite-New/images/TRENDKITE-W_logo.svg"
                width="184px"
                height="23.4px"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <amp-img
                alt="WeWork Logo"
                src="/assets/img/logo/wework.png"
                width="468px"
                height="106px"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

        <div class="col-4 col-sm-3 col-md-2 mx-2 my-1 logo-div">
            <amp-img
                alt="Vast Logo"
                src="/assets/img/logo/vast.png"
                width="880px"
                height="334px"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

    </div>
</div>

