<div class="row d-flex justify-content-center align-items-center mb-5">

    {% for logo in site.data.logos %}

        <div class="col-4 col-sm-3 col-lg-2 mx-2 my-1 logo-div">
            <amp-img
                title="{{logo.alt}}"
                alt="{{logo.alt}}"
                src="{{logo.src}}"
                width="{{logo.width}}"
                height="{{logo.height}}"
                class="mw-100 mh-100 m-auto"
                layout="intrinsic"
            >
            </amp-img>
        </div>

    {% endfor %}

</div>

